cffi==1.16.0
exceptiongroup==1.2.2
iniconfig==2.0.0
lark==1.1.9
numpy==2.0.1
packaging==24.1
pluggy==1.5.0
pycparser==2.22
pytest==8.3.1
pyyaml==6.0.1
srt==3.5.3
tomli==2.0.1
tqdm==4.66.4
urllib3==1.26.5
vosk==0.3.45
websockets==12.0